/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: white;
  --sidebar-color: #13424c;
  --primary-color: white;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: white;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.fa:hover{
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 100px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar .text .profession {
  padding-top: 10px;
  text-align: center;
}

.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover,
.sidebar li a.active{
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li a.active .icon,
.sidebar li a.active .text{
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
  z-index:100;
}



.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  background-color: white;
}
.home .text {
  font-size: 45px;
  font-weight: 800;
  color: #13424c;
  text-align: center;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

/* order page */

.completed,
.full-time{
  color: green;
  font-weight: 800;
}

.processing,
.part-time{
  color: red;
  font-weight: 800;
}

.slctStat{
  width: 11em;
  background: #218490;
  border: none;
  color: white;
  padding: .5em;
  border-radius: 3px;
  font-weight: 500;
}

.order-table {
  padding-top: 20px;
  padding-left: 20px;
  overflow-x: visible;
  width: 150em;
  background-color: white;
}

.user-table {
  padding-top: 20px;
  padding-left: 20px;
  overflow-x: visible;
  width: 150em;
  background-color: white;
}

.inquiry-table{
  padding-top: 20px;
  padding-left: 20px;
  overflow-x: visible;
  width: 79em;
  background-color: white;
}

#inquiryT tr td{
  text-align: center;
  overflow: auto;
}

.inquiry-table table{
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0 2em;
}

.inquiry-table table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
  position: sticky;
  top: 1px;
  background-color: white;
}

.inquiry-table table tbody{
overflow:auto;
}

.order-table table {
  width: 96%;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0 2em;
}

.order-table table tbody td{
  text-align: center;
  overflow-y: auto;

}
.order-table table tbody td p{
  overflow: auto;
}

.order-table table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
  position: sticky;
  top: 1px;
  background-color: white;
}

.order-table table thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

.order-tabletable tbody tr td {
  padding-top: 13px;
}

.order-table table tbody tr td button {
  border: none;
}

.order-table table tbody td {
  font-size: 13px;
  font-weight: 500;
}



.user-table table {
  width: 48%;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0 2em;
}

.user-table table tbody td{
  text-align: center;
  overflow-y: auto;

}
.user-table table tbody td p{
  overflow: auto;
}

.user-table table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
  position: sticky;
  top: 1px;
  background-color: white;
}

.user-table table thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

.user-tabletable tbody tr td {
  padding-top: 13px;
}

.user-table table tbody tr td button {
  border: none;
}

.user-table table tbody td {
  font-size: 13px;
  font-weight: 500;
}
/* product page */

.product-table {
  padding-top: 20px;
  padding-left: 20px;
  overflow-x: visible;
  width: 150em;
  background-color: white;
}

.product-table table {
  width: 150%;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0 2em;
}

.product-table table img {
  width: 60%;
}

.product-table table tbody td p{
  overflow: auto;
}


.product-table table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
  position: sticky;
  top: 0px;
  background-color: white;
}

.product-table table thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

.product-table table tbody tr td {
  padding-top: 4px;
padding-right: 5px;
}

.product-table table tbody tr td button {
  border: none;
}

.product-table table tbody td {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

/* customer page */


.customer-table {
  padding-top: 20px;
  padding-left: 20px;
}

.customer-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

.customer-table table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

.customer-table table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

.customer-table table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

.customer-table table td:nth-child(4),
.customer-table table td:nth-child(5),
.customer-table table td:nth-child(6),
.customer-table table td:nth-child(7),
.customer-table table td:nth-child(8) {
  width: 150px;
  text-align: center;
}

.customer-table table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

.customer-table table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

.customer-table table thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

.customer-tabletable tbody tr td {
  padding-top: 13px;
}

.customer-table table tbody tr td button {
  border: none;
}

.customer-table table tbody td {
  font-size: 13px;
  font-weight: 500;
}

/*edit pages section */

.drag-area{
  position: absolute;
  top: 846px;
  left: 474px;
  display: flex;
  border: 2px solid #13424c;
  height: 195px;
  width: 318px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}

.drag-area .icon{
  font-size: 80px;
  color: #13424c;
}

.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #13424c;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color:#13424c;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #13424c;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.wrapper{
  position: absolute;
  top: 50px;
  left: 184px;
  max-width: 900px;
  width: 100%;
  background: #13424c;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #fff;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 500px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #fff;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #fff;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fff;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  font-weight: 500;
  border: 0px;
  background:  #218490;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-bottom: 20px;
}

.wrapper .form .inputfield .btn:hover{
  background: black;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

#addImage{
  background: #218490;
  color:white;
  margin-top: 20px;
  padding: 10px;
  border: none;
  width:inherit;
  font-size: 15px;
  text-decoration: none;
  font-weight: 450;
  border-radius: 3px;
  padding-right: 377px;
padding-left: 379px;
}

#addImage:hover{
  background: black;
}


/* @media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
} */

/*PopUp*/
.popup {
    z-index:999; 
    position: fixed;
    width: 100%;
}

.popup p{
    color:black;
}
